<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Canción</title>
    <link rel="stylesheet" href="/js/css/styles.css">
</head>
<body>
<div class="container">
    <h1>Registro de canciones nuevas</h1>
    <p>Complete la información del formulario para registrar nuevas canciones</p>
    <form id="formulario">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre">
        </div>
        <div class="form-group">
            <label for="artista">Artista:</label>
            <input type="text" id="artista" name="artista">
        </div>
        <div class="form-group">
            <label for="genero">Género:</label>
            <input type="text" id="genero" name="genero">
        </div>
        <div class="form-group">
            <label for="duracion">Duración en segundos:</label>
            <input type="text" id="duracion" name="duracion">
        </div>
        <button type="submit">Guardar canción</button>
    </form>
</div>
<script src="/js/js/app.js"></script>
</body>
</html>
